<!DOCTYPE html>
<head> </head>
    <body class="preload">
    <footer class="footer">
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
            <script>
                document.write(new Date().getFullYear());
            </script>
            - © iTech Velocity - by Developer
            </div>
            <div class="col-md-6">
            <div class="text-md-right footer-links d-none d-sm-block">
                <a href="#" target="_blank">About</a>
                <a href="#" target="_blank">Support</a>
            </div>
            </div>
        </div>
        </div>
    </footer>

    <script src="assets/js/global.js"></script>
    </body>
</html>
