<!DOCTYPE html>
<head> </head>
    <body>
    <div class="navbar-custom bg-light">
        <a href="index.html" class="logo text-center d-none d-md-inline-block mr-2">
        <span class="logo-lg">
            <img src="assets/images/logo-lightbg.png" alt="" height="16" />
        </span>
        </a>

        <button
        type="button"
        class="btn btn-sm btn-dark d-inline-block d-lg-none button-menu-mobile"
        >
        Menu
        </button>

        <span class="badge badge-danger float-right">v1.1.0</span>
    </div>
    </body>
</html>
