<!DOCTYPE html>
<head>
<link rel="stylesheet" href="assets/css/sidebar.css" />
</head>
    <body class="preload">
            <div class="left-sidebar">
                <div class="slimscroll-menu">
                    <div class="list-group list-group-transparent mb-0">

                        <span class="list-group-item disabled">
                            Getting Started
                        </span>

                        <a href="../report.html" class="list-group-item list-group-item-action" data-page="index">
                            <span class="mr-2">
                                <i class="mdi mdi-flag-variant-outline"></i>
                            </span>Introduction
                        </a>

                        
                        <span class="list-group-item disabled">
                            Menu
                        </span>

                        
                        <a href="../report.html" class="list-group-item list-group-item-action" data-page="report">
                            <span class="mr-2">
                                <i class="mdi mdi-file-chart"></i>
                            </span>Reports
                        </a>

                        <!-- <a href="documentation.html" class="list-group-item list-group-item-action" data-page="documentation">
                            <span class="mr-2">
                                <i class="mdi mdi-file-chart"></i>
                            </span>Documentation
                        </a> -->

                        <!-- Documentation -->
<div class="list-group-item list-group-item-action sidebar-toggle"
     data-target="docMenu">
    <span class="toggle-icon">+</span>
    Documentation
</div>

<!-- Documentation Children -->
<div class="sidebar-children d-none" id="docMenu">

    <!-- Modules -->
    <div class="list-group-item list-group-item-action sidebar-toggle ms-3"
         data-target="moduleMenu">
        <span class="toggle-icon">+</span>
        Modules
    </div>

    <!-- Module Pages -->
    <div class="sidebar-children d-none ms-5" id="moduleMenu">
        <a href="../Documentation/Module1.html" class="list-group-item list-group-item-action">Module 1</a>
        <a href="../Documentation/Module2.html" class="list-group-item list-group-item-action">Module 2</a>
        <a href="Documentation/Module3.html" class="list-group-item list-group-item-action">Module 3</a>
        <a href="Documentation/Module4.html" class="list-group-item list-group-item-action">Module 4</a>
        <a href="Documentation/Module5.html" class="list-group-item list-group-item-action">Module 5</a>
    </div>

</div>

                    </div>
                </div>
            </div>

            <script src="assets/js/global.js"></script>
    </body>
</html>


